
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

   <section id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-success ">
        <a class="navbar-brand" href="#">Template</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto ">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
          </ul>
        </div>
      </nav>

   </section>
   <section id="welcome">
   <div class="container">
       <div class="welcome text-center shadow-lg">
       <h1>Welcome to Make Up Exam</h1>
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.      
          Ipsum aliquam velit omnis atque totam obcaecati assumenda 
           nostrum molestiae nesciunt libero nihil id accusantium dolore tempore,
            fuga officiis nulla voluptates! Exercitationem!
       </p>
       <button type="submit" class="btn btn-primary">Make Exam Now</button>
       </div>
   </div>
   </section>
   <section id="about">
   <div class="container">
       <div class="row shadow-lg">
           <div class="col-md-6">
               <h3>Database Make Up Exam</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nesciunt illo mollitia, nemo praesentium quasi quibusdam sequi tenetur architecto? Ipsam voluptatum placeat neque omnis quos molestias porro obcaecati qui nobis?</p>

           </div>
           <div class="col-md-6">
                <h3>Laravel Make Up Exam</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nesciunt illo mollitia, nemo praesentium quasi quibusdam sequi tenetur architecto? Ipsam voluptatum placeat neque omnis quos molestias porro obcaecati qui nobis?</p>
           </div>
       </div>
   </div>
   </section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>