

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/template.css">

</head>
<body>
    <section id="header">
        <div class="menu-bar">
        
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">Template</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Services</a>
                    </li>
                  </ul>
                </div>
              </nav>

        </div>
        <div class="banner text-center text-white">
            <h1>WELCOME 2019</h1>
            <p>Everything ! Everywhere !Everyone</p>
        </div>
    </section>

        <div class="search text-center">
            <form action="#">
                <input type="text" class="form-control" placeholder="Search Location">
                <input type="text" class="form-control" placeholder="Search job">
                <input type="text" class="form-control" placeholder="Search Company">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
   
          

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>


